
.count_bg{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);  
}

.country_container{
    position: absolute;
    margin:0,auto;
    top:150px;
    left:0;
    right:0;
    padding:20px;
    background-color: var(--main-background-color)
}

.LoadMsg{
    font-size: 20px;
    font-family: inherit;
    font-weight: 700;
    Position:absolute;

    z-index: 6;
    left:8px;
    top:200px;
    text-align:center;
    Width:100vw;
    height:100vh;
    color:var(--main-country-detail-text);
    background-color:var(--main-background-color)
}

.ErrorLog{
    position:absolute;
    top:250px;
    left:40px;
    font-weight: 500;
    color: var(--main-country-detail-text);
}

.bkbutton{
    position:absolute;
    top:120px;
    left:20px;
    z-index: 5;
    padding:8px 0px;
    height:40px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    font:bold inherit;
    font-weight: 300;
    font-size: 14px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    background-color:var(--header-background);
    color: var(--main-country-detail-text);
}

.country_img{
    width: 100%;
    height: 230px;
    margin-top:20px;
}
.country_container .country_bloc1{
    margin-top:30px;
    color:var(--main-country-detail-text);
}



.country_dsection1,.country_dsection2,.native_class
{
    margin-top:30px;
    color:var(--main-country-detail-text)
}

.country_name{
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 25px;
}

.country_name h5{
    margin-bottom: 10px;
}

section article .county_specs div h5{
    margin: 10px 0;
    font-weight:600;
    font-size: 14px;
    letter-spacing: 1px;
}

section article .county_specs div h5 span{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.country_dsection2 h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom:10px;
}

.country_dsection2 h3 span{
    font-size:16px;
    font-weight: 500;
}

.country_dsection2 ul li{
    list-style: none;
    padding:4px;
    font-size: 12px;
}

.country_dsection2 .borders{
    display: flex;
    flex-wrap: wrap;
}

.country_dsection2 .borders ul {
    margin:6px;
    padding: 3px 20px;
    background-color:var(--header-background);
    border-radius: 2px;;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    cursor: pointer;
}

.borderbtn{
    text-decoration: none;
    color:var(--main-country-detail-text);
}

@media(min-width:768px){
    .bkbutton{
        position:absolute;
        z-index: 5;
        top:120px;
        left:40px;
        padding:8px 10px;
        font-weight: 600;
    }
   
     .LoadMsg{
        position:absolute;
        left:5px;
        top:290px;
    }


    .ErrorLog{
        position:absolute;
        top:290px;
        left:230px;
        font-weight: 500;
        color: var(--main-country-detail-text);  
    }
    section .country_container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
        top:150px;
    }

    .county_specs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px
    }

    .country_img{
        width:350px;
        height:293px;
    }

    .county_specs .country_bloc1 h5{
        margin:0px;
        font-weight:600
    }
    .county_specs .country_bloc1 h2{
        margin-top:5px
    }
    .country_name{
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .county_specs .country_dsection1{
        margin-top:80px;
    }
    .county_specs .country_dsection1 h5{
        margin:0px;
        font-weight:600;
    }

    .country_dsection2{
        display: flex;
       align-items: center;
       flex-wrap: wrap;
    }

    .country_dsection2 h3{
        font-size: 14px;
        margin:0 5px
    }
    .count_bg{
      
        width: 100vw;
        height: 100vh;
         background-color: var(--main-background-color);  
    }
}

@media(min-width:992px){
    .bkbutton{
        position:absolute;
        z-index: 5;
        top:120px;
        left:40px;
        padding:8px 10px;
        font-weight: 600;
    }

    .LoadMsg{
        position:absolute;
        left:5px;
        top:280px
    }

    .ErrorLog{
        position:absolute;
        top:280px;
        left:400px;
        font-weight: 500;
        color: var(--main-country-detail-text);
        
    }

    section .country_container{
        display:grid;
        grid-template-columns: 0.45fr 0.55fr;
        gap:30px;
        top:150px;
    }

    .county_specs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px
    }

    .country_img{
        width:390px;
        height:293px;
    }

    .county_specs .country_bloc1 h5{
        margin:5px;
        font-weight:600
    }
    .county_specs .country_bloc1 h2{
        margin-top:10px
    }

    .country_name{
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 30px;
    }

    .county_specs .country_dsection1{
        margin-top:95px;
    }
    .county_specs .country_dsection1 h5{
        margin:5px;
        font-weight:600;
    }

    .count_bg{
       
        width: 100vw;
        height: 100vh;
         background-color: var(--main-background-color);  
    }
}


@media(min-width:1280px){
    .head_section{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    }

    .ErrorLog{
        position:absolute;
        top:280px;
        left:630px;
        font-weight: 500;
        color: var(--main-country-detail-text);

    }
   
    .LoadMsg{   
        z-index: 6;
        left:8px;
        top:280px;
        text-align:center;
        Width:100vw;
        height:100vh;
        color:var(--main-country-detail-text);
        background-color:var(--main-background-color)
    }

    

    section .country_container{
        display:grid;
        grid-template-columns: 0.40fr 0.60fr;
        gap:30px;
        padding:50px;
        top:150px;
    }

    .county_specs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px
    }


    .bkbutton{
        position:absolute;
        top:120px;
        left:40px;
        z-index: 5;
        padding:8px 10px;
        font-weight: 600;
    }

    .count_bg{
        width: 100vw;
        height: 100vh;
         background-color: var(--main-background-color);  
    }
}