@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.light{

    --header-background:#FFFFFF;
    --header-main-caption:#111517;
    --input-search-text:#848484;
    --input-search-placeholder:#848484;
    --input-Search-mobile:#C4C4C4;
    --input-mobile-placeholder:#C4C4C4;
    --main-background-color:#F2F2F2;
    --country-info-color:#FFFFFF;
    --main-country-detail-text:#111517;
}


.dark{
    --header-background:#2B3844;
    --header-main-caption:#FFFFFF;
    --input-search-text:#FFFFFF;
    --input-search-placeholder:#FFFFFF;
    --input-Mobile-placeholder:#111517;
    --input-Search-mobile:#111517;
    --main-background-color:#202C36;
    --country-info-color:#2B3844;
    --main-country-detail-text:#FFFFFF;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

body {
    font-family: 'Nunito Sans',sans-serif;
    background-color:var(--main-background-color);
}


.LoadingMsg{
    font-size: 20px;
    font-family: inherit;
    font-weight: 700;
    margin-left:30px;
    padding-top:30px;
}


.icon{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 20px;
}
.moon-outline{
    color:#000;
}

.moon-fill{
color: white;
}
/* Font Sizes and display */

/* Header Component */
.head_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 16px;
    background: var(--header-background);
    box-shadow: 0px 2px 4px #0000000e;
    margin-bottom: 0px;
}

.head_section h1{
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    color: var(--header-main-caption);
}

.head_section .theme_class{
    font-size: 12px;
    line-height: 16.37px;
    font-weight: 600;
    color: var(--header-main-caption);
}

/* End Header Section */

/* Countries Component */
.cflag{
    /* width: 420px; */
    width:100%;
    height: 250px;  
    border-bottom: 1px transparent black;
}  

/* Search Component */

.searchbar{
   display: flex;
   flex-direction: column;
   background-color: var(--main-background-color);
}

.searchbar .search_filter{
    width:95%;
    background-color: var(--header-background);
    color:var(--input-search-text);
    padding:12px 20px;
    margin:20px auto;
    border-radius: 5px;

    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}

.isearch{
    opacity: 0.4;
    position:absolute;
    /* margin-right: 20px; */
    /* margin-left: 22px; */
    top:119px;
    left:25px;
    font-size: 16px;
    background-color: var(--header-background);
}

.searchbar .search_filter input {
    border:none;
    outline:none;
    letter-spacing: 0.5;
    font-family: inherit;
    background-color: var(--header-background);
    /* color:#111517; */
    font-size: 12px;
    font-weight: 400;
    width:100%;
    padding:0px 20px;
}

.searchbar .search_filter input::placeholder{
    color:var(--input-Search-mobile) ;
}

.searchbar .region_filter{
    width:180px;
    background-color:var(--header-background);
    padding:12px 10px;
    border-radius:5px;
    margin:5px 15px auto;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}

.select_region{
    outline:none;
    border:none;
    width:150px;
    font-family: inherit;
    color:var(--header-main-caption);
    background-color: var(--header-background);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

/* Grid Component Styling */
.grid{
    display: grid;
    grid-template-columns:1fr;
    gap: 40px ;
    padding:30px 45px;

    position:absolute;
    margin:0 auto;
    top:218px;
    /* padding:40px 35px 45px; */
    background-color: var(--main-background-color);
}

.grid .countryInfo{
    padding:30px 24px 46px;

    margin-top:-10px;
    width: 100%;
    /* width:420px; */
    border-radius: 0 0 5px 5px; 
    background-color: var(--country-info-color);
    
}

.grid .boxChar{
    background-color: #ffff;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
.grid .countryInfo h3{
    padding-bottom:16px;
    font-size:18px;
    font-weight: 800;
    color:var(--main-country-detail-text);
}

.grid .countryInfo h4 {
    font-weight: 600;
    font-size:14px;
    line-height: 30px;
    color:var(--main-country-detail-text);
}

.grid .countryInfo h4 span{
    font-weight: 300;
    font-size:14px;
    line-height: 30px;
    color:var(--main-country-detail-text);
}

.grid .linkText{
    text-decoration: none;
    cursor: pointer;
}

/* media queries*/
@media (min-width:640px){
    .isearch{
        opacity: 0.4;
        position:absolute;

        top:136px;
        left:40px;
        font-size: 16px;
        background-color: var(--header-background);
    }

    .searchbar .search_filter input {
        border:none;
        outline:none;
        letter-spacing: 0.5;
        font-family: inherit;
        background-color: var(--header-background);
        font-size: 12px;
        font-weight: 400; 
    }

    .searchbar .search_filter{
         background: var(--header-background);
    }

    #input_filter{
        width:100%;
        padding:0px 20px;
    }
    
    .grid{
        grid-template-columns:repeat(2,1fr);
        padding:30px;
    } 

    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    /* Search Component */
    .searchbar .search_filter{
        width:95%;
        margin:30px auto 20px;
    }

    .searchbar .region_filter{
        width:180px;
        margin:5px 20px auto
    }
}

@media (min-width:768px){
    
    .head_section{
        padding:30px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
        padding:30px;
        top:180px;
    } 

    /* Search Component */
    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: var(--header-background);
        width: 480px;
        padding:12px;
        border-radius: 5px;
        margin:0px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
        font-size: 14px;
        background-color: var(--header-background);
        color:var(--input-search-text);
    
    }
    .searchbar .search_filter input::placeholder{
            color: var(--input-search-placeholder)
    }

    .searchbar .region_filter{
        width:200px;
        background-color:var(--header-background);
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none;
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color: var(--header-background);
    }

    /* .countryInfo{
        background-color: var(--country-info-color);
    } */
}

@media (min-width:992px){
    .icon5{
        position:absolute;
        top:38px;
        right:115px;
        background: #ffff;
        color:black;
        cursor: pointer;
    }
    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(3,1fr);
        padding:10px 30px;
        top:200px;
    } 

    /* Search Component */

    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: #ffff;
        width: 480px;
        padding:12px;
        margin:0px;
        border-radius: 5px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none; 
        font-size: 14px;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
    
    }

    .searchbar .region_filter{
        width:200px;
        background-color: #ffff; 
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none; 
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color:var(--header-background);
    }
}



@media (min-width:1280px){
       .icon5{
        position:absolute;
        top:38px;
        right:115px;
        background: #ffff;
        color:black;
        cursor: pointer;
    }
   

    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(4,1fr);
        padding:10px 30px;
    } 

    /* Search Component */

    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: #ffff;
        width: 480px;
        padding:12px;
        margin:0px;
        border-radius: 5px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none; 
        font-size: 14px;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
    
    }

    .searchbar .region_filter{
        width:200px;
        background-color: #ffff; 
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none; 
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color: #ffff;
    }
}