@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

body {
    font-family: 'Nunito Sans',sans-serif;
    background-color: #f2f2f2;
}


/* Font Sizes and display */

/* Header Component */
.head_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 16px;
    background: #ffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    margin-bottom: 0px;
}

.head_section h1{
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
}

.head_section .theme_class{
    font-size: 12px;
    line-height: 16.37px;
    font-weight: 600;
}

/* End Header Section */

/* Countries Component */
.cflag{
    /* width: 420px; */
    width:100%;
    height: 250px;  
    border-bottom: 1px transparent black;
}  

/* Search Component */

.searchbar{
   display: flex;
   flex-direction: column;
}

.searchbar .search_filter{
    width:95%;
    background-color: #ffff;
    padding:12px 20px;
    margin:20px auto;
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}

.searchbar .search_filter input {
    border:none;
    outline:none;
    letter-spacing: 0.5;
    font-family: inherit;
    background-color: #ffff;
    color:#111517;
    font-size: 12px;
    font-weight: 400;
}

.searchbar .search_filter input::placeholder{
    color:#C4C4C4 ;
}

.searchbar .region_filter{
    width:180px;
    background-color: #ffff;
    padding:12px 20px;
    border-radius:5px;
    margin:5px 15px auto;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
}

.select_region{
    outline:none;
    border:none;
    width:150px;
    font-family: inherit;
    color:#111517;
    background-color: #ffff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

/* Grid Component Styling */
.grid{
    display: grid;
    grid-template-columns:1fr;
    gap: 40px ;
    padding:30px 45px;

    position:absolute;
    margin:0 auto;
    /* padding:40px 35px 45px; */
}

.grid .countryInfo{
    padding:30px 24px 46px;

    margin-top:-10px;
    width: 100%;
    /* width:420px; */
    border-radius: 0 0 5px 5px; 
    background-color: #ffff;
    
}

.grid .boxChar{
    background-color: #ffff;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}
.grid .countryInfo h3{
    padding-bottom:16px;
    font-size:18px;
    font-weight: 800;
}

.grid .countryInfo h4 {
    font-weight: 600;
    font-size:14px;
    line-height: 30px;
}

.grid .countryInfo h4 span{
    font-weight: 300;
    font-size:14px;
    line-height: 30px;
}

/* media queries*/
@media (min-width:640px){
    .grid{
        grid-template-columns:repeat(2,1fr);
        padding:30px;
    } 

    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    /* Search Component */
    .searchbar .search_filter{
        width:95%;
        margin:30px auto 20px;
    }

    .searchbar .region_filter{
        width:180px;
        margin:5px 20px auto
    }
}

@media (min-width:768px){
    .head_section{
        padding:30px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(2,1fr);
        padding:30px;
    } 

    /* Search Component */
    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: #ffff;
        width: 480px;
        padding:12px;
        border-radius: 5px;
        margin:0px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
        background-color: #ffff;
        color:#111517;
    
    }
    .searchbar .search_filter input::placeholder{
            color: #848484;
    }

    .searchbar .region_filter{
        width:200px;
        background-color: #ffff;
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none;
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color: #ffff;
    }
}

@media (min-width:992px){
    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(3,1fr);
        padding:10px 30px;
    } 

    /* Search Component */

    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: #ffff;
        width: 480px;
        padding:12px;
        margin:0px;
        border-radius: 5px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none; 
        font-size: 14px;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
    
    }

    .searchbar .region_filter{
        width:200px;
        background-color: #ffff; 
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none; 
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color: #ffff;
    }
}



@media (min-width:1280px){
    .head_section{
        padding:30px;
        margin-bottom: 0px;
    }

    .head_section h1{
        font-size: 24px;
        line-height: 32.7px;
        font-weight: 800;
    }

    .head_section .theme_class{
        font-size: 16px;
        line-height: 21.82px;
        font-weight: 600;
    }

    .grid{
        grid-template-columns:repeat(4,1fr);
        padding:10px 30px;
    } 

    /* Search Component */

    .searchbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding:30px;
    }

    .searchbar .search_filter{
        background-color: #ffff;
        width: 480px;
        padding:12px;
        margin:0px;
        border-radius: 5px;
    }

    .searchbar .search_filter input{
        outline:none;
        border:none; 
        font-size: 14px;
        font-family: inherit;
        letter-spacing: 0.5;
        width: 250px;
    
    }

    .searchbar .region_filter{
        width:200px;
        background-color: #ffff; 
        padding:12px 40px;
        border-radius:5px;
        margin:0px;
    }

    .select_region{
        border:none;
        outline:none; 
        font-size: 14px;
        font-family: inherit;
        width:150px;  
        letter-spacing:0.5;  
        line-height: 30px;  
        background-color: #ffff;
    }
}